@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 42 43% 95%;
  --foreground: 127 10% 18%;
  --card: 42 43% 95%;
  --card-foreground: 8 31% 19%;
  --popover: 42 43% 95%;
  --popover-foreground: 8 31% 19%;
  --primary: 123 44% 34%;
  --primary-foreground: 0 0% 100%;
  --secondary: 125 42% 94%;
  --secondary-foreground: 125 59% 24%;
  --muted: 34 25% 92%;
  --muted-foreground: 138 3% 38%;
  --accent: 122 40% 85%;
  --accent-foreground: 125 59% 24%;
  --destructive: 1 65% 47%;
  --border: 0 0% 84%;
  --input: 35 26% 83%;
  --ring: 123 44% 34%;
  --chart-1: 122 39% 49%;
  --chart-2: 122 40% 40%;
  --chart-3: 123 44% 34%;
  --chart-4: 125 59% 24%;
  --chart-5: 125 56% 8%;
  --sidebar: 34 25% 92%;
  --sidebar-foreground: 8 31% 19%;
  --sidebar-primary: 123 44% 34%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 122 40% 85%;
  --sidebar-accent-foreground: 125 59% 24%;
  --sidebar-border: 35 26% 83%;
  --sidebar-ring: 123 44% 34%;

  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Source Code Pro, monospace;

  --radius: 1rem;

  --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 2px 4px -1px rgb(0 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 4px 6px -1px rgb(0 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 8px 10px -1px rgb(0 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);
}

.dark {
  --background: 131 18% 18%;
  --foreground: 120 5% 79%;
  --card: 128 14% 22%;
  --card-foreground: 120 5% 79%;
  --popover: 124 15% 20%;
  --popover-foreground: 34 25% 92%;
  --primary: 122 39% 49%;
  --primary-foreground: 120 100% 98%;
  --secondary: 116 11% 26%;
  --secondary-foreground: 115 17% 86%;
  --muted: 128 19% 16%;
  --muted-foreground: 130 6% 60%;
  --accent: 122 40% 40%;
  --accent-foreground: 34 25% 92%;
  --destructive: 1 65% 47%;
  --border: 116 11% 26%;
  --input: 116 11% 26%;
  --ring: 122 39% 49%;
  --chart-1: 122 40% 65%;
  --chart-2: 123 38% 57%;
  --chart-3: 122 39% 49%;
  --chart-4: 123 39% 45%;
  --chart-5: 122 40% 40%;
  --sidebar: 132 21% 14%;
  --sidebar-foreground: 34 25% 92%;
  --sidebar-primary: 122 39% 49%;
  --sidebar-primary-foreground: 125 56% 8%;
  --sidebar-accent: 122 40% 40%;
  --sidebar-accent-foreground: 34 25% 92%;
  --sidebar-border: 116 11% 26%;
  --sidebar-ring: 122 39% 49%;

  --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 2px 4px -1px rgb(0 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 4px 6px -1px rgb(0 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 8px 10px -1px rgb(0 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);
}
