@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 90 20% 98%;
  --foreground: 127 15% 12%;
  --card: 90 20% 98%;
  --card-foreground: 127 12% 14%;
  --popover: 90 20% 98%;
  --popover-foreground: 127 12% 14%;
  --primary: 123 44% 34%;
  --primary-foreground: 0 0% 100%;
  --secondary: 122 30% 93%;
  --secondary-foreground: 125 59% 24%;
  --muted: 90 12% 94%;
  --muted-foreground: 138 5% 38%;
  --accent: 122 38% 83%;
  --accent-foreground: 125 59% 24%;
  --destructive: 1 65% 47%;
  --border: 90 10% 88%;
  --input: 90 12% 88%;
  --ring: 123 44% 34%;
  --chart-1: 122 39% 49%;
  --chart-2: 122 40% 40%;
  --chart-3: 123 44% 34%;
  --chart-4: 125 59% 24%;
  --chart-5: 125 56% 8%;
  --sidebar: 90 12% 94%;
  --sidebar-foreground: 127 12% 14%;
  --sidebar-primary: 123 44% 34%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 122 38% 83%;
  --sidebar-accent-foreground: 125 59% 24%;
  --sidebar-border: 90 10% 88%;
  --sidebar-ring: 123 44% 34%;

  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Source Code Pro, monospace;

  --radius: 1rem;

  --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 2px 4px -1px rgb(0 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 4px 6px -1px rgb(0 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 8px 10px -1px rgb(0 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);
}

.dark {
  --background: 138 8% 9%;
  --foreground: 120 8% 88%;
  --card: 136 9% 13%;
  --card-foreground: 120 8% 88%;
  --popover: 134 9% 11%;
  --popover-foreground: 34 20% 90%;
  --primary: 122 42% 52%;
  --primary-foreground: 120 100% 98%;
  --secondary: 132 10% 18%;
  --secondary-foreground: 115 14% 88%;
  --muted: 138 8% 7%;
  --muted-foreground: 130 8% 65%;
  --accent: 122 38% 38%;
  --accent-foreground: 34 25% 92%;
  --destructive: 1 65% 52%;
  --border: 132 10% 20%;
  --input: 132 10% 20%;
  --ring: 122 42% 52%;
  --chart-1: 122 42% 68%;
  --chart-2: 123 40% 60%;
  --chart-3: 122 42% 52%;
  --chart-4: 123 40% 46%;
  --chart-5: 122 38% 38%;
  --sidebar: 138 8% 7%;
  --sidebar-foreground: 34 20% 90%;
  --sidebar-primary: 122 42% 52%;
  --sidebar-primary-foreground: 125 56% 8%;
  --sidebar-accent: 122 38% 38%;
  --sidebar-accent-foreground: 34 25% 92%;
  --sidebar-border: 132 10% 20%;
  --sidebar-ring: 122 42% 52%;

  --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 2px 4px -1px rgb(0 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 4px 6px -1px rgb(0 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 8px 10px -1px rgb(0 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);
}
