@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f5ee;
  --foreground: #2a332b;
  --card: #f8f5ee;
  --card-foreground: #402622;
  --popover: #f8f5ee;
  --popover-foreground: #402622;
  --primary: #307b34;
  --primary-foreground: #ffffff;
  --secondary: #e9f6ea;
  --secondary-foreground: #19601f;
  --muted: #efeae4;
  --muted-foreground: #5f6561;
  --accent: #cae8cb;
  --accent-foreground: #19601f;
  --destructive: #c52c2a;
  --border: #d7d7d7;
  --input: #dfd6c9;
  --ring: #307b34;
  --chart-1: #4dae50;
  --chart-2: #3d8f40;
  --chart-3: #307b34;
  --chart-4: #19601f;
  --chart-5: #09200b;
  --sidebar: #efeae4;
  --sidebar-foreground: #402622;
  --sidebar-primary: #307b34;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #cae8cb;
  --sidebar-accent-foreground: #19601f;
  --sidebar-border: #dfd6c9;
  --sidebar-ring: #307b34;

  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Source Code Pro, monospace;

  --radius: 0.5rem;

  --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 2px 4px -1px rgb(0 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 4px 6px -1px rgb(0 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 8px 10px -1px rgb(0 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);
}

.dark {
  --background: #253528;
  --foreground: #c7ccc7;
  --card: #303f32;
  --card-foreground: #c7ccc7;
  --popover: #2b3a2c;
  --popover-foreground: #efeae4;
  --primary: #4dae50;
  --primary-foreground: #f4fff4;
  --secondary: #3c493b;
  --secondary-foreground: #d7e2d6;
  --muted: #213023;
  --muted-foreground: #939f95;
  --accent: #3d8f40;
  --accent-foreground: #efeae4;
  --destructive: #c52c2a;
  --border: #3c493b;
  --input: #3c493b;
  --ring: #4dae50;
  --chart-1: #81c984;
  --chart-2: #67bb6b;
  --chart-3: #4dae50;
  --chart-4: #46a04a;
  --chart-5: #3d8f40;
  --sidebar: #1c2b1f;
  --sidebar-foreground: #efeae4;
  --sidebar-primary: #4dae50;
  --sidebar-primary-foreground: #09200b;
  --sidebar-accent: #3d8f40;
  --sidebar-accent-foreground: #efeae4;
  --sidebar-border: #3c493b;
  --sidebar-ring: #4dae50;

  --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 2px 4px -1px rgb(0 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 4px 6px -1px rgb(0 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 8px 10px -1px rgb(0 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);
}
